<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>West Country Ipsum</title>
</head>
<body>
<section class="hero">
    <div class="backgroundImage">
        <div class="heroText">
            <h1>Proper Job!</h1>
            <h2>West Country Ipsum</h2>
        </div>
    </div>
</section>
<section class="formSection">
    <form>
        <label for="paragraphs"><h2>How many of them ther paragraffs?</h2></label>
        <input id="paragraphs" type="number" max="10">
        <input type="submit" value="Yertizz">
    </form>
</section>
<section class="ipsumDisplay">
    <div>
        <h1>'ere: </h1>
        <p>Where you to? Hark at ee betwaddled Dimpsey.  Gert Lush Babber Dreckly Me'ansum.
            Backalong burlon brock a-feard grockle. Gurt noodle hoss-stinger joppety. Wasson Ramshacklum lippen</p>
    </div>
</section>
</body>
</html>