<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="quoteDisplayer.js" defer></script>
    <link rel="stylesheet" href="styles.css">
    <title>West Country Ipsum</title>
</head>
<body>
<section class="hero">
    <div class="backgroundImage">
        <div class="heroText">
            <h1>Proper Job!</h1>
            <h2>West Country Ipsum</h2>
        </div>
    </div>
</section>
<section class="formSection">
    <form id="myForm">
        <label for="paragraphs"><h2>How many of them ther paragraffs?</h2></label>
        <input id="paragraphs" name="paragraphs" type="number" value="0" max="10">
        <input id="eventButton" type="submit" value="Yertizz">
    </form>

</section>
<section class="ipsumDisplay" >
    <div id="ipsumDisplay">
        <h1>Lipsum?! Getsum 'ere:</h1>

    </div>

</section>

</body>
</html>