<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="quoteDisplayer.js" defer></script>
    <link rel="stylesheet" href="styles.css">
    <title>DiscWorld Ipsum</title>
</head>
<body>
<section class="hero">
    <div class="backgroundImage">
        <div class="heroText">
            <h1>Lorem Ipsum...</h1>
            <img src="Great-ATuin-II.webp"/>
            <h2>...according to Death</h2>
        </div>
    </div>
</section>
<section class="formSection">
    <form method="form" id="myForm">
        <label for="paragraphs"><h2>"HOW MANY PARAGRAPHS?"</h2></label>
        <input id="paragraphs" name="paragraphs" type="number" value="0"  min="0" max="10">
        <input id="eventButton" type="submit" value="HERE">
    </form>

</section>
<section class="ipsumDisplay" >
    <div id="ipsumDisplay">
        <p>A lorem ipsum generator inspired by the works of Terry Pratchett and a personal favourite character of his, Death.
        Choose how many paragraphs of placeholder text you'd like and Death will do the rest...</p>

    </div>

</section>

</body>
</html>